@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-red: #DC2626;
  --color-brand-dark: #18181B;
  --color-brand-black: #09090B;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #18181B;
}
::-webkit-scrollbar-thumb {
    background: #DC2626;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #B91C1C;
}